RewriteEngine On
RewriteBase /eqms/

# If an existing asset or directory is requested, serve it directly
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# Otherwise, redirect all requests to index.html (Angular SPA routing)
RewriteRule ^ index.html [L]